:root {
	--image-side-w: 30vw;
}
body {
	margin: 0;
	padding: 0;

	font-family: Roboto, system-ui;
}
.image-side {
	position: fixed;
	left: 0;
	top: 0;
	width: var(--image-side-w);
	height: 100vh;
	overflow: hidden;
}

figure {
	margin: 0;
	padding: 0;
}
figcaption {
	position: fixed;
	margin-top: -22vh;
	text-align: center;
	color: white;
	width: var(--image-side-w);
}
figcaption > a {
	color: white;
}
.logo-section {
	position: fixed;
	/* display: block; */
	width: var(--image-side-w);
	height: 40px;
	padding: 20px 0px 10px 0px;
	margin-top: -95vh;
	text-align: center;
	background-color: rgba(10, 10, 10, 0.536);
	color: white;
}

.text-side {
	position: fixed;
	left: var(--image-side-w);
	top: 0;

	height: 100vh;

	background-color: white;

	display: flex;
	align-items: center;
}

.text-side-container > p {
	font-size: x-large;
	padding: 0px 30px;
}

p:first-of-type,
p:first-of-type + p {
	font-weight: 600;
}
p:last-of-type {
	font-size: large;
}

form {
	height: 50vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

	font-size: x-large;
}

fieldset {
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 15px -6px rgba(128, 128, 128, 0.784);
	padding: 90px 30px 60px 30px;

	display: flex;
	flex-wrap: wrap;
	row-gap: 15px;
	background-color: white;
}
fieldset > legend {
	position: relative;
	top: 30px;
}
label {
	display: block;
	margin-bottom: 10px;
	font-size: medium;
	font-variant: small-caps;
}
input {
	height: 30px;
	width: 300px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;

	border: 0.1px solid rgba(0, 128, 0, 0.382);
	border-radius: 5px;
}
input[type="password"] {
	border: 1px solid rgba(128, 0, 0, 0.605);
}
input:focus {
	outline: none;
	border: 0.1px solid rgb(6, 0, 128);
	box-shadow: 0 0 5px rgba(0, 0, 255, 0.423);
}

.input-and-label {
	flex: 0 0 49%;
	/* border: 1px solid; */
}
button {
	width: 300px;
	height: 50px;
	margin: 20px 30px;
	font-size: x-large;

	color: white;
	background-color: green;
	border: 0px;
	border-radius: 10px;
}
button:hover {
	color: white;
	background-color: rgba(30, 127, 6, 0.818);
}
button:active {
	background-color: white;
	color: green;
}
.text-side-container {
	/* border: 1px solid black; */
}
